:root {
  --display-font: 'Lalezar', cursive;
  --body-font: 'Nanum Gothic', sans-serif;
  --main-color-one: rgb(230, 0, 92);
  --main-color-one-semi: rgba(230, 0, 92, .25);
  --main-color-two: rgb(0, 68, 102);
  --main-color-two-semi: rgb(0, 68, 102, .25);
  --body-text-color: rgb(185, 185, 185);
  --accent-color-light: rgb(230, 179, 204);
  --light-grey: rgb(190, 190, 190);

  font-size: 62.5%;
}

html{
  background-color: rgb(0,0,0);
}

/* clear out browser formatting */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 1.5rem;
  width: 90%;
  max-width: 1200px;
  padding: 15px;
  margin: auto;
  font-family: var(--body-font);
  color: var(--body-text-color);
}

p{
  padding: 10px;
  line-height: 1.35em;
}

a{
  color: var(--main-color-one);
  text-decoration: none;
}

a:hover{
  color: var(--accent-color-light);
  transition: color 2s;

}

h1{
  text-align: left;
  font-size: 6.75rem;
  color: var(--main-color-one);
  padding: 30px 0 5px 15px;
  font-family: var(--display-font);
}

nav{
  margin-bottom: 15px;
}

nav ul li, ul.projects li, ul#social li{
  list-style-type: none;
}

nav ul{
  padding-left: 15px;
}

nav ul li{
  display: inline;
  margin-right: 15px;
}

nav ul li a{
  color: var(--main-color-one);
  padding-bottom: 5px;
  text-decoration: none;
  font-size: 2.5rem;
}

nav ul li a:hover,
aside a:hover{

  text-shadow: 0 0 10px var(--accent-color-light);
  position: relative;
  top: -10px;
  transition: color 1s, text-shadow 2s, top 2s;
}

main{
  width: 100%;
  margin-bottom: 25px;
  margin-right: 3.33%;
}

h2{
  color: var(--body-text-color);
  padding: 10px 10px 5px 10px;
  font-size: 4.5rem;
}

h3{
  font-size: 2.5rem;
  padding: 10px;
  margin-bottom: 15px;
  color: var(--body-text-color);
  border-left: 25px solid var(--main-color-two);
  width: 30rem;
  float: left;
}

article{
  padding: 10px;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.chunked p{
  width: 30%;
  max-width: 30rem;
  min-width: 22rem;
}

aside{
  width: 100%;
  margin-bottom: 15px;
  clear: both;

}

aside ul{
  padding: 10px 10px 20px 20px;
}

aside ul li{
  margin: 0 20px 10px 0;
  display: inline-block;
  font-size: 2.5rem;
}

aside ul li .fab{
  color: var(--main-color-two);
  padding-right: 5px;
}

aside:last-of-type{
  margin-bottom: 25px;
}

footer{
  clear: both;
  padding: 5px;
  background-color: var(--main-color-one);
  text-align: center;
}

/* specific to Work page */

ul.projects li{
  display: block;
  width: 30%;
  max-width: 30rem;
  min-width: 22rem;
  height: 14rem;
  background-color: var(--main-color-one-semi);
  box-shadow: 5px 5px 18px var(--main-color-two-semi);
  margin: 20px 10px;
  text-align: center;
  vertical-align: bottom;
}

ul.projects li:hover{
  background-color: rgba(230, 0, 92, .5);
}

ul.projects li img{
  height: 8rem;
  margin: auto;
}

ul.projects li a{
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: var(--body-text-color);
}

ul.projects li a:hover{
  color: rgb(230, 0, 92);
}

/* mobile/small layout adjustments */
@media screen and (max-width: 920px){
  h2{
    font-size: 2.5rem;
  }
  h3{
    float: none;
    clear: both;
  }
  p{
    padding: 10px 0;
  }
  .chunked p{
    width: 100%;
    max-width: 100%;
  }
}
