/* color codes
  magenta: rgb(230, 0, 92)
  dark blue: rgb(0, 68, 102)
  light pink: rgb(230, 179, 204)
  dark grey: rgb(85, 85, 85)
  light grey: rgb(190, 190, 190)
*/
/* clear out browser formatting */
*{
  margin: 0;
  padding: 0;
}

body{
  width: 75%;
  max-width: 1500px;
  padding: 15px;
  margin: auto;
  /* Trebuchet-based sans serif stack */
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  color: rgb(85, 85, 85);
}

p{
  padding: 5px 0;
}

h1{
  text-align: left;
  font-size: 2.75rem;
  color: rgb(0,0,0);
  border-radius: 25px 25px 0 0;
  padding: 30px 0 5px 15px;
}

nav{
  margin-bottom: 15px;
}

nav ul li, ul.projects li, ul#social li{
  list-style-type: none;
}

nav ul{
  padding: 15px;
  border-top: 1px solid rgb(230, 0, 92);
  border-bottom: 1px solid rgb(230, 0, 92);
}

nav ul li{
  display: inline;
  margin-right: 15px;
}

nav ul li a{
  color: rgb(0,0,0);
  text-decoration: none;
}

nav ul li a:hover{
  color: rgb(230, 0, 92);
  border-bottom: 3px solid rgb(230, 179, 204);
}

main{
  width: 70%;
  float: left;
  border: 1px solid rgb(0, 68, 102);
  border-radius: 0 25px;
  margin-bottom: 25px;
  margin-right: 3.33%;
}

h2{
  color: rgb(85, 85, 85);
  padding: 10px 10px 5px 10px;
}

h3{
  padding: 5px 35px 5px 15px;
  margin-bottom: 15px;
  color: rgb(85, 85, 85);
  border-top: 1px solid rgb(190, 190, 190);
  border-bottom: 1px solid rgb(190, 190, 190);
  clear: both;
}

article{
  padding: 10px;
}

aside{
  width: 25%;
  min-width: 200px;
  float: left;
  border: 1px solid rgb(0, 68, 102);
  border-radius: 0 25px;
  margin-bottom: 15px;
  background-color: rgba(0, 68, 102, .05);
}

aside ul{
  padding: 10px 10px 20px 20px;
}

aside ul li{
  margin-bottom: 3px;
}

aside ul li a{
  color: rgb(0,0,0);
  text-decoration: none;
}

aside ul li a:hover{
  color: rgb(230, 0, 92);
  border-bottom: 3px solid rgb(230, 179, 204);
}

aside:last-of-type{
  margin-bottom: 25px;
}

footer{
  clear: both;
  padding: 5px;
  border-top: 1px solid rgb(230, 0, 92);
  border-bottom: 1px solid rgb(230, 0, 92);
  text-align: center;
}

/* specific to Work page */

ul.projects li{
  width: 45%;
  min-width: 225px;
  height: 14rem;
  float: left;
  background-color: rgba(85, 85, 85, .05);
  box-shadow: 5px 5px 18px rgb(190, 190, 190);
  margin: 20px 10px;
  text-align: center;
  vertical-align: bottom;
}

ul.projects li:nth-child(2n+0){
  background-color: rgba(0, 68, 102, .05);
}

ul.projects li:nth-child(3n+0){
  background-color: rgba(0, 68, 102, .05);
}

ul.projects li:nth-child(4n+0){
  background-color: rgba(85, 85, 85, .05);
}

ul.projects li:hover{
  background-color: rgba(230, 0, 92, .5);
}

ul.projects li img{
  height: 8rem;
  margin: auto;
}

ul.projects li a{
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: rgb(85, 85, 85);
}

ul.projects li a:hover{
  color: rgb(230, 0, 92);
}
