p#tagnote{
  padding-left: 10px;
  margin-bottom: 10px;
}

p#tagnote ~ label:first-of-type{
  margin-left: 10px;
}



input.tags{
  display: none;
}

label.clickable{
  cursor: pointer;
  padding: 5px 10px;
  margin: 10px;
  background-color: var(--main-color-two);
  border-radius: 5px;
  display: inline-block;
}

label.clickable:hover{
  background-color: var(--main-color-one-half);
}

#drupal:checked + label.clickable,
#css3:checked  + label.clickable,
#html5:checked  + label.clickable,
#xhtml:checked  + label.clickable,
#php:checked  + label.clickable,
#javascript:checked  + label.clickable{
  background-color: var(--main-color-one);
}
/* normal state */
#drupal:not(checked) ~ article > ul > li,
#css3:not(checked) ~ article > ul > li,
#html5:not(checked) ~ article > ul > li,
#xhtml:not(checked) ~ article > ul > li,
#php:not(checked) ~ article > ul > li,
#javascript:not(checked) ~ article > ul > li{
  opacity: 1;
  background-color: var(--main-color-one-semi);
  transition: opacity 2s, background-color 2s;
}

/* fade those that don't match a selected tag */
#drupal:checked ~ article > ul > li:not([data-tags~=drupal]),
#css3:checked ~ article > ul > li:not([data-tags~=css3]),
#html5:checked ~ article > ul > li:not([data-tags~=html5]),
#xhtml:checked ~ article > ul > li:not([data-tags~=xhtml]),
#php:checked ~ article > ul > li:not([data-tags~=php]),
#javascript:checked ~ article > ul > li:not([data-tags~=javascript]){
  background-color: var(--main-color-one-semi);
  opacity: 0.25;
  transition: opacity 2s, background-color 2s;
}

/* highlight those that do match selected tag */
#drupal:checked ~ article > ul > li[data-tags~=drupal],
#css3:checked ~ article > ul > li[data-tags~=css3],
#html5:checked ~ article > ul > li[data-tags~=html5],
#xhtml:checked ~ article > ul > li[data-tags~=xhtml],
#php:checked ~ article > ul > li[data-tags~=php],
#javascript:checked ~ article > ul > li[data-tags~=javascript]
{
  opacity: 1;
  background-color: var(--main-color-one);
  transition: opacity 2s, background-color 2s;
}

/* phone layout adjustment */
@media screen and (max-width: 425px){
  /* normal state */
  #drupal:not(checked) ~ article > ul > li,
  #css3:not(checked) ~ article > ul > li,
  #html5:not(checked) ~ article > ul > li,
  #xhtml:not(checked) ~ article > ul > li,
  #php:not(checked) ~ article > ul > li,
  #javascript:not(checked) ~ article > ul > li{
    display: block;
  }



  #drupal:checked ~ article > ul > li:not([data-tags~=drupal]),
  #css3:checked ~ article > ul > li:not([data-tags~=css3]),
  #html5:checked ~ article > ul > li:not([data-tags~=html5]),
  #xhtml:checked ~ article > ul > li:not([data-tags~=xhtml]),
  #php:checked ~ article > ul > li:not([data-tags~=php]),
  #javascript:checked ~ article > ul > li:not([data-tags~=javascript]){
    display: none;
  }

  /* highlight those that do match selected tag */
  #drupal:checked ~ article > ul > li[data-tags~=drupal],
  #css3:checked ~ article > ul > li[data-tags~=css3],
  #html5:checked ~ article > ul > li[data-tags~=html5],
  #xhtml:checked ~ article > ul > li[data-tags~=xhtml],
  #php:checked ~ article > ul > li[data-tags~=php],
  #javascript:checked ~ article > ul > li[data-tags~=javascript]
  {
    display: block;
  }
}
